.main-component-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-component-wrapper .header p,
.main-component-wrapper .header h1 {
  text-align: center;
  font-size: 20px;
}

.main-component-wrapper .input {
  margin-top: 10%;
  min-width: 20vw;
  height: 40px;
  padding-left: 10px;
}
.tagged-names-wrapper {
  display: flex;
  flex-direction: row;
}
.tagged-names {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 0 5px;
  border: 1px solid;
  padding: 3px;
}
.tagged-names p {
  font-size: 10px;
  line-height: 20px;
  margin: 0;
}

.delete-tag {
  height: 10px;
  width: 10px;
  /* background-color: ; */
}
.delete-tag p {
  background-color: black;
  height: 2px;
  width: 10px;
  position: relative;
  margin: 0;
}
.delete-tag p:first-child {
  transform: rotate(-45deg) translateX(-1px) translateY(2px);
}
.delete-tag p:last-child {
  transform: rotate(45deg) translateX(1px) translateY(-1px);
}
.tag-sugg-wrapper {
  width: 20vw;
  border: 1px solid;
  border-color: #5da6ff;
}
.tag-sugg-item {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  background-color: #8ba6e472;
}
.tag-sugg-item .middle p:first-child {
  font-size: 16px;
  margin: 2px 0;
}
.middle p:last-child {
  font-size: 12px;
}
.tag-sugg-item .first p {
  text-align: center;
  font-size: 10px;
  margin: 0;
}
